<h1><%= @post.title %></h1>

<p><%= @post.content %></p>
<p>Category: <%= @post.category %></p>
<%= link_to 'Back', board_index_path %> |
<%= link_to 'Delete', board_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
