<!DOCTYPE html>
<html>
  <head>
    <title>Konduck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to "메인 페이지", home_path %></li>
          <li><%= link_to "게시판 페이지", board_path %></li>
          <li><%= link_to "Q&A 페이지", qna_path %></li>
          <!-- 로그인 상태에 따라 다르게 표시할 수도 있습니다. -->
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
